[submodule "alternatives"]
	path = alternatives
	url = https://github.com/voxpupuli/puppet-alternatives
[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "archive"]
	path = archive
	url = https://github.com/voxpupuli/puppet-archive
[submodule "augeas"]
	path = augeas
	url = https://github.com/camptocamp/puppet-augeas
[submodule "augeasproviders_core"]
	path = augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core
[submodule "augeasproviders_shellvar"]
	path = augeasproviders_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "extlib"]
	path = extlib
	url = https://github.com/voxpupuli/puppet-extlib
[submodule "fail2ban"]
	path = fail2ban
	url = https://github.com/voxpupuli/puppet-fail2ban
