[submodule "alternatives"]
	path = alternatives
	url = https://github.com/voxpupuli/puppet-alternatives
[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "archive"]
	path = archive
	url = https://github.com/voxpupuli/puppet-archive
[submodule "augeas"]
	path = augeas
	url = https://github.com/camptocamp/puppet-augeas
[submodule "augeasproviders_core"]
	path = augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core
[submodule "augeasproviders_shellvar"]
	path = augeasproviders_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "extlib"]
	path = extlib
	url = https://github.com/voxpupuli/puppet-extlib
[submodule "fail2ban"]
	path = fail2ban
	url = https://github.com/voxpupuli/puppet-fail2ban
[submodule "firewall"]
	path = firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall
[submodule "foreman"]
	path = foreman
	url = https://github.com/theforeman/puppet-foreman
[submodule "grafana"]
	path = grafana
	url = https://github.com/voxpupuli/puppet-grafana
[submodule "inifile"]
	path = inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
[submodule "kernel_boot_arg"]
	path = kernel_boot_arg
	url = https://github.com/floatingatoll/puppet-kernel_boot_arg
[submodule "kmod"]
	path = kmod
	url = https://github.com/camptocamp/puppet-kmod
[submodule "mailalias_core"]
	path = mailalias_core
	url = https://github.com/puppetlabs/puppetlabs-mailalias_core
[submodule "mysql"]
	path = mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "nrpe"]
	path = nrpe
	url = https://github.com/voxpupuli/puppet-nrpe
[submodule "ntp"]
	path = ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp
[submodule "postfix"]
	path = postfix
	url = https://github.com/camptocamp/puppet-postfix
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql
[submodule "puppetdb"]
	path = puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb
[submodule "python"]
	path = python
	url = https://github.com/initrd/puppet-python
	branch = centos8
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "systemd"]
	path = systemd
	url = https://github.com/camptocamp/puppet-systemd
[submodule "translate"]
	path = translate
	url = https://github.com/puppetlabs/puppetlabs-translate.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
